.splash-background {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #09244E; */
      /* background: radial-gradient(
      circle at 50% 0,
      rgba(4, 32, 79, 0.815),
      rgba(11, 49, 102, 0.283) 70.71%
    ), radial-gradient(
      circle at 6.7% 75%,
      rgba(2, 35, 97, 0.815),
      rgba(2, 3, 43, 0.28) 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        rgba(0, 0, 0, 0.815),
        rgba(3, 11, 54, 0.282) 70.71%
      ) beige; */
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9999;
}

.splash {
    width: 35vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 2px #ffffff,
    0.5em 0.5em 1em rgba(0, 0, 0, 0.356);
    position: absolute;
}

.splash-message {
    display: flex;
    text-align: center;
    justify-content: space-between;
    line-height: 6vh;
    font-weight: 400;
}

.splash-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.splash-buttons > button {
    background-color: white;
    border: none;
    font-weight: 600;
    color: #09244E;
}

.splash-buttons > button:hover {
    cursor: pointer;
    color: #09234e90;
}

