.itinerary-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
}

.itinerary-page-h1 {
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-top: 3vh;
    height: 5vh;
}

.itinerary-intro {
    color: white;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    margin: 5vh 5vw;
    text-align: center;
}

.select-events-list {
    color: white;
}

.select-events-container {
    grid-column: 1;
    border-width: 2px;
    border-color: #ddd;
    border-style: double;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
    overflow-y: scroll;
    height: 71vh;
    box-shadow: 2px 3px 2px rgba(255, 255, 255, 0.196);

}

.selected-events-container li {
    list-style: none;
    color: white;
}

.selected-events-container {
    grid-column: 3;
    border-width: 2px;
    border-color: #ddd;
    border-style: double;
    margin: 15px;
    padding: 10px;
    border-radius: 12px;
    overflow-y: scroll;
    height: 71vh;
    box-shadow: 2px 3px 2px rgba(255, 255, 255, 0.196);



}

.create-own-event-container, .itinerary-submit-button {
    /* grid-column: 2; */
    display: flex;
    justify-content: center;
}

.create-own-event-container button:hover, .itinerary-submit-button button:hover {
    cursor: pointer;
    background-color: #dddddd2d;
    color: white;
    border-color: white;
}

.create-own-event-container button, .itinerary-submit-button button {
    width: 20vw;
    height: 4vh;
    border-radius: 15px;
    z-index: 0;
    font-size: 15px;
}

.itinerary-submit-button button {
    font-size: 18px;
}

.events-button {
    grid-column: 1;
    width: 100px;
}

.stays-button {
    grid-column: 1;
    width: 100px;
}

.select-events-add-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.874);
}

.select-events-add-button {
    width: 100px;
    background-color: #ffffff00;
    border: none;
    color: white;
}

.select-events-container h2, .selected-events-container h2 {
    color: white;
    font-size: 24px;
    text-underline-position: below;
    text-decoration: underline;
}

.select-events-list > li, .selected-events-list > li {
    margin-top: 5px;
    padding-left: 12px;
}

.select-events-list a:hover, .selected-events-list a:hover {
    color: rgba(255, 255, 255, 0.874);
}

.select-events-list a, .selected-events-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.dropdown {
    border: 1px solid black;
    grid-column: 2;
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 28vh;
    width: 25vw;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
    justify-content: space-evenly;
    padding-top: 10px;
}

.dropdown label {
    padding: 20px;
}

.dropdown label input {
    margin: 5px;
    margin-top: 15px;
}

.add-event-button {
    display: flex;
    justify-content: center;
}

.add-event-button button {
    width: 150px;
    margin-top: 15px;
}

.add-event-button button:hover {
    cursor: pointer;
}

.x {
    position: fixed;
    top: 1.5vh;
    right: 1vw;
    cursor: pointer;
}

.select-events-container, .selected-events-container {
    text-align: center;
}

.select-events-list h3 {
    font-size: 20px;
    color: #ddd;
}

.selected-events-list h3 {
    font-size: 20px;
    color: #ddd;
}

.event-buttons {
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-around;
}