.group-index-page-wrapper {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
}

.group-index-container {
    width: 35vw;
    min-width: 32vw;
    height: 65vh;
    overflow-y: scroll;
    border-color: white;
    border-width: 4px;
    border-style: double;
    text-align: right;
    border-radius: 14px;
    justify-content: space-around;
    z-index: 0;
}

.group-index-container button:hover {
    cursor: pointer;
}

.group-index-container button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 5px 10px 0 0;
}

.group-list {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    /* overflow-y: scroll; */
}

.group-item-wrapper {
    width: 20vw;
    height: inherit;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

button.trip-submit:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button.trip-submit {
    background-color: white;
    border-radius: 8px;
    color: #09234e90;
    /* position: fixed; */
    bottom: -38vh;
    /* right: 22vw; */
    /* position: relative; */
    width: 120px;
    z-index: 0;
    margin-right: 41%;
}

.group-list-item {
    display: flex;
    border-bottom: 0.5px solid #eee;
}

.group-list-item li {
    padding-left: 10px;
}

.group-index-container h2 {
    font-size: 24px;
    color: white;
    padding-top: 15px;
    text-align: center;
}

.create-group-button {
    text-align: center;
}

.edit-form-dropdown {
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    /* background-color: #ccc; */
    background: linear-gradient(#ddd, gray);
    border-radius: 5px;
    width: 220px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 4px black;
    margin-left: 3%;
}

.edit-x {
    cursor: pointer;
    right: 2vh;
    top: 1vh;
    position: absolute;
}

.create-dropdown {
    border: 1px solid black;
    z-index: 2;
    position: absolute;
    /* background-color: #ccc; */
    background: linear-gradient(#ddd, gray);
    border-radius: 5px;
    width: 220px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 4px black;
    margin-left: 10%;
}

.errors {
    color: white;
    font-size: 20px;
}