.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
}

.choose-month {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    align-items: center;
}

.choose-month select {
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.experience-container {
    color: white;
    width: 1200px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.experience-ul {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience-ul li {
    display: inline-block;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    margin: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.experience-ul li img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 2px 2px 8px black;
}

.experience-ul li img:hover {
    opacity: 0.7;
    box-shadow: 4px 4px 12px 4px orange, -4px -4px 12px 4px orange;
}

.cool-effect {
    opacity: 0.7 !important;
    box-shadow: 4px 4px 12px 4px orange, -4px -4px 12px 4px orange !important;
}

.experiences-loading-container {
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    height: 90vh;
}

.experience-submit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-color: white;

}

.experience-submit {
    width: 8vw;
    padding: 10px;
    margin: 5vh 5vw;
    border-radius: 18px;
    background-color: white;
    color: black;
}