.cool-images {
  width: 25vw;
  height: 38.5vh;
}

.cool-carousel-2 {
  height: 80vh;
  width: 95vw;
}

.cool-image-container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  background-color: white;
  width: 25vw;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-align: center;
  cursor: pointer;
}

.cool-image-container p {
  margin-top: 1vh;
}

#trip-edit-button {
  height: 3vh;

}

#trip-edit-button:hover {
  background-color: rgb(182, 181, 181);
  border: black 1px solid;
  color: black;
}

.cool-interary-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-height: 60vh;
  overflow-y: scroll;
}

.cool-interary-show-page *{
  padding: 10px;
}

.cool-group-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.cool-group-show-page *{
  padding: 10px;
}