.cool-images {
  width: 25vw;
  height: 38.5vh;
}

.cool-carousel-2 {
  height: 80vh;
  width: 95vw;
}

.cool-carousel-3 {
  height: 80vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 14%;
  margin-top: 5%;
  margin-bottom: -5%;
}

.cool-carousel-3 div {
  margin-left: 5%;
}

.cool-image-container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  background-color: white;
  width: 25vw;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-align: center;
  cursor: grab;
}

.cool-image-container p {
  margin-top: 1vh;
}

.trip-edit-buttons {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  padding: 3vh 1vw 2vh;
}

#trip-edit-button {
  height: 3vh;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#trip-edit-button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.599);
}

.cool-interary-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-height: 60vh;
  overflow-y: scroll;
}

.cool-interary-show-page *{
  padding: 10px;
}

.cool-group-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.cool-group-show-page *{
  padding: 10px;
}

.change-group-button, .edit-group-button {
  margin-top: 5px;
}

.change-group-button:hover, .edit-group-button:hover {
  cursor: pointer;
}

.group-form-show {
  text-align: center;
  background-color: white;
}

.edit-group-button {
  margin-left: 5px;
}


.no-current-group {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.group-select {
  margin: 0 0 0 1vw;
  border-color: rgba(0, 0, 0, 0.26);
  border-radius: 4px;
}

.group-select:hover {
  cursor: pointer;
}

.dropdown-show {
  background-color: white;
  text-align: left;
}

#add-event-show {
  margin: 10px;
}

.dropdown-show input {
  margin: 2px;
}

.dropdown-show {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 300px; */
}

.event-show {
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 70%;
}