.cool-images {
  width: 25vw;
  height: 38.5vh;
}

.cool-carousel-2 {
  height: 80vh;
  width: 95vw;
}

.cool-image-container {
  display: flex;
  flex-direction: column;
  align-items: center ;
  background-color: white;
  width: 25vw;
  height: 50vh;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-align: center;
}

.cool-image-container p {
  margin-top: 1vh;
}