.user-show-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.user-show-container button {
    height: 5vh;
    width: 8vw;
    border-radius: 15px;
}

.user-show-container button:hover {
   background-color: rgba(170, 169, 169, 0);
   color: white;
   border-color: white;
   cursor: pointer;
}