/* TODO Add site wide styles */
#root {
    background: radial-gradient(
        circle at 50% 0,
        rgba(4, 32, 79, 0.815),
        rgba(11, 49, 102, 0.283) 70.71%
      ), radial-gradient(
        circle at 6.7% 75%,
        rgba(2, 35, 97, 0.815),
        rgba(2, 3, 43, 0.28) 70.71%
      ),
      radial-gradient(
          circle at 93.3% 75%,
          rgba(0, 0, 0, 0.815),
          rgba(3, 11, 54, 0.282) 70.71%
        ) beige;
    height: 100%;
    min-height: 99vh;
    display: flex;
    flex-direction: column;
}