.globe-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px; 
}

.globe-container {
    grid-column: 1;
}

canvas {
    border-radius: 10px;
}

.location-radio-ul {
    padding: 10px;
    font-size: 22px;
    color: #eee;
}

.location-radio-ul h2 {
    padding-bottom: 20px;
    /* text-shadow: ; */
}