.globe-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px; 
    height: 90vh;
}

.globe-container {
    grid-column: 1;
}

canvas {
    border-radius: 10px;
    background-color: #eee;
}

.location-radio-ul {
    padding: 10px;
    font-size: 22px;
    color: #eee;
}

.location-radio-ul li {
    padding: 5px;
}

.location-radio-ul h2 {
    padding-bottom: 20px;
    padding-top: 50px;
}

.radio {
    transform: scale(1.5);
    margin-right: 15px;
}

.radio:hover {
    cursor: pointer;
}

.globe-submit-button:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    color: white;
    cursor: pointer;
}

.globe-submit-button {
    position: fixed;
    right: 34vw;
    width: 100px;
    font-size: 18px;
    border-radius: 14px;
}